canvas {
    /* position: fixed !important; */
 }

 body {
    /* font-family: 'Cabin', sans-serif; */
    /* font-size: 18px; */
    /* background-color: #effaff; */
    background-color:white;
}

 .container {
    min-width:150px;
    max-width:768px;
    text-align:center;
    margin:0 auto;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: #e7e7e7 */
  }

 @font-face{
    font-family: foglihten;
    src: local('Foglihten-068.otf'), url('Foglihten-068.otf') format('otf');
}

h1{   
    /* text-align:center; */
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    
        /* font-family: 'foglihten', monospace;  */
    color: #E3992E;

}

h2{   
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    color:#233D4D;

}

h3{   
    /* text-align:center; */
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:#233D4D;

}

h4{   
    /* text-align:center; */
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color:#233D4D;

}

h5{   
    /* text-align:center; */
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color:#233D4D;

}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    /* color: #E3992E; */
    color: #233D4D;



}

.backgroundHighlight {
    background-color: #233D4D;
    display: inline-flex;
    padding-left: 30px;
    padding-right: 30px;
}

.page_content{   
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}





.page {
    height: 90vh;

    position: relative;
    /* border: 3px solid green; */

}

.page_half {
    height: 65vh;

    position: relative;
    /* border: 3px solid green; */

}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    background-color: rgb(35, 61, 77);
    position: fixed;
    top: 0;
    width: 100%;

    /* display: inline-block; */
    /* list-style-type: none; */
    /* background-color: rgb(35, 61, 77); */
    z-index: 10;
    
}
.content {
    padding: 16px;
  }
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 80px;
  }

  img.shadowfilter {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(227, 153, 46, 0.5));
     filter: drop-shadow(5px 5px 5px rgba(227, 153, 46, 0.5));
}



.projects {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.fullWidthProject {
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-end: span 12;
} 



.projectBox {
/* background-color: #233D4D; */
border: 2px solid #233D4D;
padding:10px;
margin:10px;
/* border: 1px solid rgb(0, 0, 0); */
}

.currently {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: 50% 50%;
}



@media only screen and (max-width: 550px) {
    .currently {
        display: block; 
        } 
}  

.black_background{
    background-color: black
}

.half_width {
    width: 85%;
}

.frame{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
} 

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */


.nav {
    font-family: 'Poppins', sans-serif;
    text-align:center;
    display:inline-block;
    width:100%;
    margin:0;
    border-bottom: 2px solid  rgb(227, 153, 46);

}


.backgroundNav {
    background-color: rgb(35, 61, 77);
    
}

.nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.nav li {
    display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    margin-right:10px;
}

.nav li:hover {
    /* background-color: grey;  */
}

.nav a.active {
    background-color: rgb(227, 153, 46);
    

}

.one-hundred-height {
    height:100%;
}


.footer {
    height: 200px;
}

.anchor { 
    margin-top: 70px; 
}

.showcase {
    background: rgb(35, 61, 77);
    /* height:100%; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.showcaseExpand{
    /* background-image: url("test_bg.jpg"); */
    
    opacity: 0.5;
    z-index: -100;
    animation-duration: 1s;
    animation-name: vertical-expand;
    animation-fill-mode: forwards;

}

.whiteLink {
    color:white;
}

.whiteText {
    color:white;
}

@keyframes vertical-expand {
    0% {
      height: 0px;
      /* filter: blur(0px); */
    }
  
    100% {
        height: 500px;
        /* filter: blur(4px); */
    }
  }



