{% extends "page_template.html" %}
{% block content %}

<!-- MAINPART -->
<div class="main_content">
    <div class="section_inner">
    <div>
        <div class="">
            <h2 class="page-title">
                        <span>{{news_item.title}}</span>
                    </h2>
                    <div class="lines">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
            <div class="details">
                <div class="metabox">
                    <div style="padding-top: 20px; font-style: italic;" class="info">
                        <span class="date">Published: {{ news_item.date }}</span>
                        <br>
<!--                        <span>Categories: </span>-->
<!--                        {% for c in news_item.category %}-->
<!--                        <span class="category"><a-->
<!--                                href="#">{{ c }}</a></span>-->
<!--                        {% endfor %}-->
                    </div>
                </div>
            </div>
<!--            <hr style="margin-bottom: 30px">-->


            <div class="markdown-body">
                {{news_item.text|safe}}
            </div>
        </div>

    </div>
</div>
</div>


<!-- /MAINPART -->
{% endblock %}
