{% extends "page_template.html" %}
{% block content %}

<!-- MAINPART -->
<style>
    p {
        color: black;
    }
</style>
<div class="section_inner">
    <div style="padding:50px">
        <div class="">
                <h1>{{news_item.title}}</h1>
            <div class="details">
                <div class="metabox">
                    <div class="info">
                        <span class="date">{{ news_item.date }}</span>
                        <br>
                        <span>Categories: </span>
                        {% for c in news_item.category %}
                            <span class="category"><a
                                href="#">{{ c }}</a></span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr style="margin-bottom: 30px">


            <div class="markdown-body">
                {{news_item.text|safe}}
            </div>
        </div>

    </div>
</div>


<!-- /MAINPART -->
{% endblock %}
