<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="description" content="Name of your web site">
    <meta name="author" content="Marketify">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Marc R Leonard | Developer</title>

    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/plugins.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <style>
        .univ a {
            color: black;
        }

        .sub-job {
            font-size: 22px;
            font-weight: 300;
        }

        .logo a {
            color: black;
            text-decoration: none
        }

        .place {
            width: 67%;
        }


    </style>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
    <!-- /STYLES -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C2F6FPRGES"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-C2F6FPRGES');
    </script>

</head>

<body>

<!-- WRAPPER ALL -->
<div class="cavani_tm_all_wrap" data-enter="fadeInUp" data-exit="">

    <!-- MODALBOX -->
    <div class="cavani_tm_modalbox">
        <div class="box_inner">
            <div class="close">
                <a href="#"><img class="svg" src="img/svg/cancel.svg" alt=""/></a>
            </div>
            <div class="description_wrap"></div>
        </div>
    </div>
    <!-- /MODALBOX -->

    <!-- HEADER -->
    <div class="cavani_tm_header">
        <div class="logo">
            <h2><a href="#">MARC LEONARD</a></h2>
        </div>
        <div class="menu">
            <ul class="transition_link">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                {% if news_items %}
                <li><a href="#news">Blog</a></li>
                {% endif %}
                <li><a href="#contact">Contact</a></li>
            </ul>
            <span class="ccc"></span>
        </div>
    </div>
    <!-- /HEADER -->

    <div class="cavani_tm_left_border"></div>
    <div class="cavani_tm_right_border"></div>

    <!-- MOBILE MENU -->
    <div class="cavani_tm_topbar">
        <div class="topbar_inner">
            <div class="logo">
                <a href="#">MARC LEONARD</a>
            </div>
            <div class="trigger">
                <div class="hamburger hamburger--slider">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cavani_tm_mobile_menu">
        <div class="inner">
            <div class="wrapper">
                <div class="avatar">
                    <div class="image" data-img-url="img/about/1.jpg"></div>
                </div>
                <div class="menu_list">
                    <ul class="transition_link">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#experience">Experience</a></li>
                        {% if news_items %}
                        <li><a href="#news">Blog</a></li>
                        {% endif %}
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="#"><img class="svg" src="img/svg/social/facebook.svg" alt=""/></a></li>
                        <li><a href="#"><img class="svg" src="img/svg/social/twitter.svg" alt=""/></a></li>
                        <li><a href="#"><img class="svg" src="img/svg/social/instagram.svg" alt=""/></a></li>
                        <li><a href="#"><img class="svg" src="img/svg/social/dribbble.svg" alt=""/></a></li>
                        <li><a href="#"><img class="svg" src="img/svg/social/tik-tok.svg" alt=""/></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>Copyright &copy; 2021</p>
                </div>
            </div>
        </div>
    </div>

    <!-- /MOBILE MENU -->

    <!-- MAINPART -->
    <div class="cavani_tm_mainpart">
        <div class="author_image">
            <div class="main" data-img-url="img/about/me.jpg"></div>
        </div>
        <div class="main_content">

            <!-- HOME -->
            <div class="cavani_tm_section animated" id="home">
                <div class="cavani_tm_home">
                    <div class="content">
                        <h3 class="name">👋🏻👨🏼‍💻‍🎬</h3>
                        <span class="line"></span>
                        <h2>
                            I'm a software developer with 10+ years experience in the <strong>Media and Entertainment
                            Industry</strong>
                        </h2>
                        <br>
                        <h3>
                            Prior to being a software developer I was a Video Director and worked many roles in
                            post-production. Now, I continue to make art with code and maintain a generative art library
                            for python called <strong><a style="color:black" target="_blank"
                                                         href="https://linedream.marcrleonard.com">LineDream</a></strong>

                            <br>
                            <br>
                            To see an extensive portfolio of my work as a video director <a href="https://video.marcrleonard.com" target="_blank">click here</a>.

                        </h3>
                        <!--							<br>-->
                        <!--							<div class="cavani_tm_button transition_link">-->
                        <!--								<a href="#about">Tell me more!</a>-->
                        <!--							</div>-->
                    </div>
                </div>
            </div>
            <!-- HOME -->

            <!-- ABOUT -->
            <div class="cavani_tm_section" id="about">
                <div class="section_inner">
                    <div class="cavani_tm_about">
                        <div class="biography">
                            <div class="cavani_tm_title">
                                <span>About Me</span>
                            </div>
                            <div class="wrapper">
                                <div class="">
                                    <!--									<div class="left">-->

                                    <p>My name is <strong>{{ my_name }}</strong>. I am a creative and a software engineer.
                                    </p>
                                    <br>
                                    <p>
                                        In 2010 I graduated from DeSales University in Center Valley, PA as a Television/Film major with a Business minor.
                                    </p>
                                    <br>
                                    <p> Early in my career I spent two years as the lead editor of special programming for
                                        Reelz Channel. Afterwards, I began freelancing full-time working for various online media outlets and brands
                                        such as Reddit, Pop Sci, and The Verge. I also began working as a colorist for feature films, short form content, and
                                        dailies.
                                    </p>
                                    <br>
                                    <p>
                                        Further endeavours steered me into media for the Outdoor Industry. I started a
                                        short-lived outdoor news site called The Crux Collective, and founded a one-man
                                        media consultancy to create video and materials for brands in the outdoors space.
                                        During this time I worked with brands like L.L.Bean, Outside Online, GoPro,
                                        Patrol USA, and GoPro.
                                    </p>
                                    <br>
                                    <p>
                                        The past 5 have been working as a software developer for
                                        Cinnafilm on the PixelStrings product - a
                                        cloud video processing platform.
                                    </p>
                                    <br>
                                    <p>
                                        I am currently enjoying the fruits of living in Bozeman, Montana.
                                    </p>
                                </div>
                                <!--									<div class="right">-->
                                <!--										-->
                                <!--									</div>-->
                            </div>
                        </div>
                        <!--							<div class="resume">-->
                        <!--								<div class="wrapper">-->

                        <!--									<div class="experience">-->
                        <!--										<div class="cavani_tm_title">-->
                        <!--											<span>Experience</span>-->
                        <!--										</div>-->
                        <!--										<div class="list">-->
                        <!--											<div class="univ">-->
                        <!--												<ul>-->
                        <!--													<li>-->
                        <!--														<div class="list_inner">-->
                        <!--															<div class="time">-->
                        <!--																<span>2018 - running</span>-->
                        <!--															</div>-->
                        <!--															<div class="place">-->
                        <!--																<h3>Envato Elements</h3>-->
                        <!--																<span>Exclusive Author</span>-->
                        <!--															</div>-->
                        <!--														</div>-->
                        <!--													</li>-->
                        <!--													<li>-->
                        <!--														<div class="list_inner">-->
                        <!--															<div class="time">-->
                        <!--																<span>2015 - 2018</span>-->
                        <!--															</div>-->
                        <!--															<div class="place">-->
                        <!--																<h3>Avo Corporation</h3>-->
                        <!--																<span>Content Manager</span>-->
                        <!--															</div>-->
                        <!--														</div>-->
                        <!--													</li>-->
                        <!--													<li>-->
                        <!--														<div class="list_inner">-->
                        <!--															<div class="time">-->
                        <!--																<span>2012 - 2015</span>-->
                        <!--															</div>-->
                        <!--															<div class="place">-->
                        <!--																<h3>FC Barcelona</h3>-->
                        <!--																<span>Football Player</span>-->
                        <!--															</div>-->
                        <!--														</div>-->
                        <!--													</li>-->
                        <!--												</ul>-->
                        <!--											</div>-->
                        <!--										</div>-->
                        <!--									</div>-->
                        <!--								</div>-->
                        <!--							</div>-->
                        <!--							<div class="testimonials">-->
                        <!--								<div class="cavani_tm_title">-->
                        <!--									<span>Testimonials</span>-->
                        <!--								</div>-->
                        <!--								<div class="list">-->
                        <!--									<ul class="owl-carousel">-->
                        <!--										<li>-->
                        <!--											<div class="list_inner">-->
                        <!--												<div class="text">-->
                        <!--													<i class="icon-quote-left"></i>-->
                        <!--													<p>Beautiful minimalist design and great, fast response with support. Highly recommend. Thanks Marketify!</p>-->
                        <!--												</div>-->
                        <!--												<div class="details">-->
                        <!--													<div class="image">-->
                        <!--														<div class="main" data-img-url="img/testimonials/1.jpg"></div>-->
                        <!--													</div>-->
                        <!--													<div class="info">-->
                        <!--														<h3>Alexander Walker</h3>-->
                        <!--														<span>Graphic Designer</span>-->
                        <!--													</div>-->
                        <!--												</div>-->
                        <!--											</div>-->
                        <!--										</li>-->
                        <!--										<li>-->
                        <!--											<div class="list_inner">-->
                        <!--												<div class="text">-->
                        <!--													<i class="icon-quote-left"></i>-->
                        <!--													<p>These people really know what they are doing! Great customer support availability and supperb kindness.</p>-->
                        <!--												</div>-->
                        <!--												<div class="details">-->
                        <!--													<div class="image">-->
                        <!--														<div class="main" data-img-url="img/testimonials/2.jpg"></div>-->
                        <!--													</div>-->
                        <!--													<div class="info">-->
                        <!--														<h3>Armin Van Buuren</h3>-->
                        <!--														<span>Content Manager</span>-->
                        <!--													</div>-->
                        <!--												</div>-->
                        <!--											</div>-->
                        <!--										</li>-->
                        <!--										<li>-->
                        <!--											<div class="list_inner">-->
                        <!--												<div class="text">-->
                        <!--													<i class="icon-quote-left"></i>-->
                        <!--													<p>I had a little problem and the support was just awesome to quickly solve the situation. And keep going on.</p>-->
                        <!--												</div>-->
                        <!--												<div class="details">-->
                        <!--													<div class="image">-->
                        <!--														<div class="main" data-img-url="img/testimonials/3.jpg"></div>-->
                        <!--													</div>-->
                        <!--													<div class="info">-->
                        <!--														<h3>Baraka Clinton</h3>-->
                        <!--														<span>English Teacher</span>-->
                        <!--													</div>-->
                        <!--												</div>-->
                        <!--											</div>-->
                        <!--										</li>-->
                        <!--									</ul>-->
                        <!--								</div>-->
                        <!--							</div>-->
                    </div>
                </div>
            </div>
            <!-- ABOUT -->

            <!-- PORTFOLIO -->
            <div class="cavani_tm_section" id="experience">
                <div class="section_inner">
                    <div class="cavani_tm_about">
                        <div class="biography">
                            <div class="cavani_tm_title">
                                <span>Experience</span>
                            </div>
                        </div>
                        <div class="resume">
                            <div class="wrapper">
                                <div class="univ">
                                    <ul>
                                        <li>
                                            <div class="list_inner">
                                                <div class="time">
                                                    <span>2017 - Present</span>
                                                </div>
                                                <div class="place">
                                                    <h3><a href="https://cinnafilm.com/">Cinnafilm Inc.</a></h3>
                                                    <span>Core backend developer for <a href="https://pixelstrings.com">PixelStrings</a>. PixelStrings is a cloud video conversion platform for studios, broadcasters, independent creators, and post-production facilities</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list_inner">
                                                <div class="time">
                                                    <span>2020 - Present</span>
                                                </div>
                                                <div class="place">
                                                    <h3><a href="https://linedream.marcrleonard.com">LineDream</a></h3>
                                                    <span>Creator and maintainer of <a
                                                            href="https://linedream.marcrleonard.com">LineDream</a> - a generative art library for Python.</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list_inner">
                                                <div class="time">
                                                    <span>2012 - 2019</span>
                                                </div>
                                                <div class="place">
                                                    <h3>Video Director and Post Production Specialist</h3>
                                                    <span>For 7 years I worked as a freelancer for many companies and productions. For a comprehensive overview of my work, please <a target="_blank" href="https://video.marcrleonard.com">visit this link</a>.</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list_inner">
                                                <div class="time">
                                                    <span>2012 - 2014</span>
                                                </div>
                                                <div class="place">
                                                    <h3>Instructor</h3>
                                                    <span>Adobe Premiere and Adobe After Effects instructor for the University of New Mexico Continuing Education program. </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list_inner">
                                                <div class="time">
                                                    <span>2011 - 2013</span>
                                                </div>
                                                <div class="place">
                                                    <h3><a href="https://www.reelz.com/">Reelz Channel</a></h3>
                                                    <span>Lead Editor of special programming</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list_inner">
                                                <div class="time">
                                                    <span>2006 - 2010</span>
                                                </div>
                                                <div class="place">
                                                    <h3>DeSales University</h3>
                                                    <span>Major - Television/Film</span>
                                                    <br>
                                                    <span>Minor - Business</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="services">
                            <div class="cavani_tm_title">
                                <span>Professional Skills</span>
                            </div>
                            <div class="wrapper">
                                <div class="service_list">

                                    <div class="list">
                                        <ul>
                                            <li><i class="icon-right-dir"></i>Python</li>
                                            <li><i class="icon-right-dir"></i>Vast knowledge of Post Production Workflows
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /PORTFOLIO -->

            <!-- NEWS -->
            <div class="cavani_tm_section" id="news">
                <div class="section_inner">
                    <div class="cavani_tm_news">
                        <div class="cavani_tm_title">
                            <span>Latest News</span>
                        </div>
                        <div class="news_list">
                            <ul>
                                {% for news_item in news_items %}
                                <li>
                                    <div class="list_inner">
                                        <div class="image">
                                            <img src={{ news_item.thumbnail }} alt=""/>
                                            <div class="main" data-img-url="{{ news_item.full_image }}"></div>
                                            <a class="cavani_tm_full_link" href="#"></a>
                                        </div>
                                        <div class="details">
                                            <div class="metabox">
                                                <div class="info">
                                                    <span class="category"><a
                                                            href="#">{{ news_item.category }}</a></span>
                                                    <span class="date">{{ news_item.date }}</span>
                                                </div>
                                                <div class="title">
                                                    <h3><a href="#">{{ news_item.title }}</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news_hidden_details">
                                            <div class="news_popup_informations">
                                                <div class="text">
                                                    {% for tline in news_item.text %}
                                                    <p>{{ tline }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                <!--									<li>-->
                                <!--										<div class="list_inner">-->
                                <!--											<div class="image">-->
                                <!--												<img src="img/thumbs/4-3.jpg" alt="" />-->
                                <!--												<div class="main" data-img-url="img/news/2.jpg"></div>-->
                                <!--												<a class="cavani_tm_full_link" href="#"></a>-->
                                <!--											</div>-->
                                <!--											<div class="details">-->
                                <!--												<div class="metabox">-->
                                <!--													<div class="info">-->
                                <!--														<span class="category"><a href="#">Branding</a></span>-->
                                <!--														<span class="date">August 9, 2021</span>-->
                                <!--													</div>-->
                                <!--													<div class="title">-->
                                <!--														<h3><a href="#">Building brands through customer service</a></h3>-->
                                <!--													</div>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--											-->
                                <!--											<div class="news_hidden_details">-->
                                <!--												<div class="news_popup_informations">-->
                                <!--													<div class="text">-->
                                <!--														<p>Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>-->
                                <!--														<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>-->
                                <!--														<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>-->
                                <!--													</div>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--											-->
                                <!--										</div>-->
                                <!--									</li>-->
                                <!--									<li>-->
                                <!--										<div class="list_inner">-->
                                <!--											<div class="image">-->
                                <!--												<img src="img/thumbs/4-3.jpg" alt="" />-->
                                <!--												<div class="main" data-img-url="img/news/3.jpg"></div>-->
                                <!--												<a class="cavani_tm_full_link" href="#"></a>-->
                                <!--											</div>-->
                                <!--											<div class="details">-->
                                <!--												<div class="metabox">-->
                                <!--													<div class="info">-->
                                <!--														<span class="category"><a href="#">Branding</a></span>-->
                                <!--														<span class="date">August 9, 2021</span>-->
                                <!--													</div>-->
                                <!--													<div class="title">-->
                                <!--														<h3><a href="#">Building brands through customer service</a></h3>-->
                                <!--													</div>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--											-->
                                <!--											<div class="news_hidden_details">-->
                                <!--												<div class="news_popup_informations">-->
                                <!--													<div class="text">-->
                                <!--														<p>Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>-->
                                <!--														<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>-->
                                <!--														<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>-->
                                <!--													</div>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--											-->
                                <!--										</div>-->
                                <!--									</li>-->
                                <!--									<li>-->
                                <!--										<div class="list_inner">-->
                                <!--											<div class="image">-->
                                <!--												<img src="img/thumbs/4-3.jpg" alt="" />-->
                                <!--												<div class="main" data-img-url="img/news/4.jpg"></div>-->
                                <!--												<a class="cavani_tm_full_link" href="#"></a>-->
                                <!--											</div>-->
                                <!--											<div class="details">-->
                                <!--												<div class="metabox">-->
                                <!--													<div class="info">-->
                                <!--														<span class="category"><a href="#">Branding</a></span>-->
                                <!--														<span class="date">August 9, 2021</span>-->
                                <!--													</div>-->
                                <!--													<div class="title">-->
                                <!--														<h3><a href="#">Building brands through customer service</a></h3>-->
                                <!--													</div>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--											-->
                                <!--											<div class="news_hidden_details">-->
                                <!--												<div class="news_popup_informations">-->
                                <!--													<div class="text">-->
                                <!--														<p>Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>-->
                                <!--														<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>-->
                                <!--														<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>-->
                                <!--													</div>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--											-->
                                <!--										</div>-->
                                <!--									</li>-->
                                <!--									<li>-->
                                <!--										<div class="list_inner">-->
                                <!--											<div class="image">-->
                                <!--												<img src="img/thumbs/4-3.jpg" alt="" />-->
                                <!--												<div class="main" data-img-url="img/news/5.jpg"></div>-->
                                <!--												<a class="cavani_tm_full_link" href="#"></a>-->
                                <!--											</div>-->
                                <!--											<div class="details">-->
                                <!--												<div class="metabox">-->
                                <!--													<div class="info">-->
                                <!--														<span class="category"><a href="#">Branding</a></span>-->
                                <!--														<span class="date">August 9, 2021</span>-->
                                <!--													</div>-->
                                <!--													<div class="title">-->
                                <!--														<h3><a href="#">Building brands through customer service</a></h3>-->
                                <!--													</div>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--											-->
                                <!--											<div class="news_hidden_details">-->
                                <!--												<div class="news_popup_informations">-->
                                <!--													<div class="text">-->
                                <!--														<p>Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>-->
                                <!--														<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>-->
                                <!--														<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>-->
                                <!--													</div>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--											-->
                                <!--										</div>-->
                                <!--									</li>-->
                                <!--									<li>-->
                                <!--										<div class="list_inner">-->
                                <!--											<div class="image">-->
                                <!--												<img src="img/thumbs/4-3.jpg" alt="" />-->
                                <!--												<div class="main" data-img-url="img/news/6.jpg"></div>-->
                                <!--												<a class="cavani_tm_full_link" href="#"></a>-->
                                <!--											</div>-->
                                <!--											<div class="details">-->
                                <!--												<div class="metabox">-->
                                <!--													<div class="info">-->
                                <!--														<span class="category"><a href="#">Branding</a></span>-->
                                <!--														<span class="date">August 9, 2021</span>-->
                                <!--													</div>-->
                                <!--													<div class="title">-->
                                <!--														<h3><a href="#">Building brands through customer service</a></h3>-->
                                <!--													</div>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--											-->
                                <!--											<div class="news_hidden_details">-->
                                <!--												<div class="news_popup_informations">-->
                                <!--													<div class="text">-->
                                <!--														<p>Cavani is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>-->
                                <!--														<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>-->
                                <!--														<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>-->
                                <!--													</div>-->
                                <!--												</div>-->
                                <!--											</div>-->
                                <!--											-->
                                <!--										</div>-->
                                <!--									</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- NEWS -->

            <!-- CONTACT -->
            <div class="cavani_tm_section" id="contact">
                <div class="section_inner">
                    <div class="cavani_tm_contact">
                        <div class="cavani_tm_title">
                            <span>Contact</span>
                        </div>
                        <div class="short_info">

                            <p>Please contact me for any inquiries.</p>
                            <br>
                            <ul>
                                <li>
                                    <div class="list_inner">
                                        <i class="icon-mail-3"></i>
                                        <img src="img/email.png">
                                    </div>

                                </li>
<!--                                <li>-->
<!--                                    <div class="list_inner">-->
<!--                                        <i class="icon-location"></i>-->
<!--                                        <span>Bozeman, MT, USA</span>-->
<!--                                    </div>-->
<!--                                </li>-->
                                <li>
                                    <div class="list_inner">
                                        <i class="icon-linkedin-1"></i>
                                        <span><a target="_blank" href="https://www.linkedin.com/in/marc-r-leonard/">LinkedIn</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_inner">
                                        <i class="icon-github-1"></i>
                                        <span><a target="_blank" href="https://github.com/marcrleonard">GitHub</a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTACT -->

        </div>
    </div>
    <!-- /MAINPART -->

    <!-- FOOTER -->
    <div class="cavani_tm_footer">
        <div class="copyright">
            <p>Copyright &copy; 2021</p>
        </div>
        <div class="social">
            <ul>
<!--                <li><a href="#"><img class="svg" src="img/svg/social/facebook.svg" alt=""/></a></li>-->
<!--                <li><a href="#"><img class="svg" src="img/svg/social/twitter.svg" alt=""/></a></li>-->
<!--                <li><a href="#"><img class="svg" src="img/svg/social/instagram.svg" alt=""/></a></li>-->
<!--                <li><a href="#"><img class="svg" src="img/svg/social/dribbble.svg" alt=""/></a></li>-->
<!--                <li><a href="#"><img class="svg" src="img/svg/social/tik-tok.svg" alt=""/></a></li>-->
            </ul>
        </div>
    </div>
    <!-- /FOOTER -->


</div>
<!-- / WRAPPER ALL -->

<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
<script src="js/plugins.js"></script>
<script src="js/init.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5bpEs3xlB8vhxNFErwoo3MXR64uavf6Y&callback=initMap"></script>
<!-- /SCRIPTS -->

</body>
</html>