{% extends "page_template.html" %}
{% block content %}



    <!-- ABOUT -->
    <div class="page" id="about">
        <div class="section_inner">
            <div class="">
                <div class="biography">
                    <h2 class="page-title">
                        <span>about me</span>
                    </h2>
                    <div class="lines">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <div class="wrapper">
                        <div class="">
                            <p>
                                My name is Marc. I am a creative professional and software
                                engineer with a unique background that bridges the media and entertainment industry with
                                software development.
                            </p>
                            <p>
                                In 2010, I graduated from DeSales University in Center Valley, PA, with a major in
                                Television/Film and a minor in Business. Early in my career, I spent two years as the
                                lead editor of special programming for Reelz Channel. Following that, I freelanced for
                                various online media outlets and brands such as Reddit, Pop Sci, and The Verge. I also
                                worked as a colorist for feature films, short-form content, and dailies.
                            </p>
                            <p>
                                My career took a turn towards the Outdoor Industry, where I started The Crux Collective,
                                a short-lived outdoor news aggregator, and later founded Rove Media, a one-man media
                                consultancy. Through Rove Media, I created videos and materials for brands like
                                L.L.Bean, Outside Online, Patrol USA, and GoPro.
                            </p>
                            <p>
                                From 2017 until 2024 I worked as a Senior Software Developer at Cinnafilm,
                                contributing to the development of PixelStrings, a cloud-based video processing
                                platform. My role involves designing and developing the API and backend, orchestrating
                                cloud infrastructure, and maintaining a horizontally scalable video transcoding system.
                                I leverage my proficiency in Python, JavaScript, TypeScript, and HTML/CSS, along with
                                frameworks like Flask, Django, and FastAPI, to build robust and maintainable
                                applications.
                            </p>
                            <p>
                                Since Q3 of 2024 I've worked as a Software Developer at Mux, where I work on the Ingest
                                and Processing team.
                            </p>

                            <p>
                                In addition to my professional work, I am the creator of LineDream, a Python generative
                                art library designed for SVG outputs and originally intended for pen plotter art. I am
                                also developing a media asset management software called Asset Veranda.
                            </p>
                            <p>
                                I am currently enjoying the fruits of living in Bozeman, Montana where I enjoy skiing,
                                mountain biking, and hiking.
                            </p>

                            <div style="display: flex; gap:10px;">
                                <div>
                                    <div class="list_inner">
                                        <i class="icon-mail-3"></i>
                                        <img src="{{full_url}}/img/email.png"
                                             style="padding-top: 7px; padding-bottom: 7px; width: 215px;  border: 2px solid black;">
                                    </div>

                                </div>
                                <div>
                                    <div class="list_inner" style="border: 2px solid black; padding: 10px;">
                                        <i class="icon-linkedin-1"></i>
                                        <span><a target="_blank"
                                                 href="https://www.linkedin.com/in/marc-leonard/">LinkedIn</a></span>
                                    </div>
                                </div>
                                <div>
                                    <div class="list_inner" style="border: 2px solid black; padding: 10px;">
                                        <i class="icon-github-1"></i>
                                        <span><a target="_blank"
                                                 href="https://github.com/marcrleonard">GitHub</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT -->
{% endblock %}