{% extends "page_template.html" %}
{% block content %}
<!-- HOME -->
<div class="active-page page" id="home">
    <div class="cavani_tm_home">
        <div class="container">
            <div class="left-item">
                <img class="main" src="img/about/me_2.jpg" style="
                    z-index: 0;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    background-repeat: no-repeat;
                    background-size: auto;
                    background-position: center;
                    height: 100%;">
            </div>
            <div class="right-item">
                <div class="cavani_tm_section animated">
                    <div class="cavani_tm_home">
                        <div class="content">
                            <h3 class="name">👋🏻👨🏼‍💻‍🎬</h3>
                            <span class="line"></span>
                            <div class="jumbo-text">
                                I'm a software developer with 15+ years experience in the <strong>Media and
                                Entertainment Industry</strong>.
                            </div>
                            <div class="jumbo-text-sm">
                                Currently, I work on the ingest and processing team for <strong><a
                                    href="https://mux.com">Mux</a></strong>.
                            </div>
                            <div class="jumbo-text-sm" style="padding-bottom: 0">
                                I've always got a handful of side projects in the hoper:
                            </div>
                            <ul>
                                <li>
                                    <strong><a target="_blank"
                                               href="https://linedream.marcrleonard.com">LineDream</a></strong> -
                                    my generative art library for Python
                                </li>
                                <li>
                                    <strong><a
                                            href="https://assetveranda.com" target="_blank">Asset
                                        Veranda</a></strong> - a media asset management tool
                                </li>
                                <li>
                                    <strong><a href="https://timecodetool.com/">TimecodeTool</a></strong> - my timecode
                                    CLI for validation and calculations
                                </li>
                            </ul>
                            <div class="jumbo-text-sm">
                                Before diving into code, I was a video director and wore many hats in
                                post-production. Curious about my past life as a video director? Check out my portfolio <strong><a
                                    href="https://video.marcrleonard.com" target="_blank">here</a></strong>.
                            </div>
                            <!--							<br>-->
                            <!--							<div class="cavani_tm_button transition_link">-->
                            <!--								<a href="#about">Tell me more!</a>-->
                            <!--							</div>-->



                            <!--                Todo: implement these-->
                            <!--                <div style="display: flex; gap:5px">-->
                            <!--                    <div class="cavani_tm_button" style="width:unset">-->
                            <!--                        <a>Experience</a>-->
                            <!--                    </div>-->
                            <!--                    <div class="cavani_tm_button" style="width:unset">-->
                            <!--                        <a>Projects</a>-->
                            <!--                    </div>-->
                            <!--                </div>-->


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- HOME -->
{% endblock %}