.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fullHeight {
  height: 94vh;
}

.desc{
  padding:10px;
}

body{
  width:100%;
  font-family: 'PT Sans', sans-serif;
}

ul {
  padding-inline-start: 0px;
}

p {
  margin:10px;
}

.center {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
}

.container {
  min-width:150px;
  max-width:768px;
  text-align:center;
  margin:0 auto;
  overflow:hidden;
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  /* background-color: #e7e7e7 */
}

h1 {
  /* color:#233D4D; */
  /* font-size: 26px; */
  }

h2 {
color:#233D4D;
font-size: 30px;

text-decoration: underline ;
text-decoration-color: rgb(227, 153, 46);

}

h3 {
  color:#233D4D;
  font-size: 26px;
  margin:10px;
  }


.thickWeight{
  font-weight: 800;
}


.backgroundHighlight {
  color:white;
  background-color: #233D4D;
  display: inline-flex;

  padding-left: 1rem;
  padding-right: 1rem;
}




.clear{
  clear:both;
  padding-top:0px;
  padding-bottom:100px;
  
}




.subHeading {
  font-size: 1em;
  padding:10px;
}

.img_container {
  width: 400px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;

  /*This should be minus the height of the image */
  transform: translate(0%, 0%);
}​


.project {

}


.projectHalf {
  display: inline-block;
  width:44%;
  padding: 5px;
  vertical-align: middle;


  
}


.projectImage {
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.6);
}


.sticky {
  background-color: rgb(35, 61, 77);
  position: fixed;
  top: 0;
  width: 100%;

  /* display: inline-block; */
  /* list-style-type: none; */
  /* background-color: rgb(35, 61, 77); */
  z-index: 10;
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.6);
  
}


@media screen and (max-width: 750px) {
  
  .left {
    margin-left: -19em;
  }

  .right {
    margin-right: -19em;
  }

 }

@media screen and (max-width: 400px) {
  body .left {
    margin-left: -10em;
  }

  body .right {
    margin-right: -10em;
  }
}



a {
  color: rgb(227, 153, 46);
  /* font-weight: 600; */
  /* font-size: 20px; */
}

a:visited {
  color: rgb(227, 153, 46);
  /* font-weight: 600; */
}


.projectLink a {
  color: rgb(227, 153, 46);
  font-weight: 600;
  /* font-size: 20px; */
}

.projectLink a:visited {
  color: rgb(227, 153, 46);
  font-weight: 600;}


.center_vert{   
  margin: 0;
  /* width: 100%; */
  position: absolute;
  
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

}

.about{   
 
  margin-top:50px; /* this is the menu height */
  padding-top: 50px;
  padding-bottom: 50px;

}

/* NAV */

.nav {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align:center;
  display:inline-block;
  width:100%;
  height:48px;
  margin:0;
  border-bottom: 2px solid  rgb(227, 153, 46);
  background-color: rgb(35, 61, 77);

}


.nav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.nav li {
  display:inline-block;
  *display:inline; /*IE7*/
  *zoom:1; /*IE7*/
  margin-right:5px;
  margin-left:5px;
}

.nav li:hover {
  background-color: rgb(227, 153, 46); 
}

.nav a.active {
  background-color: rgb(227, 153, 46);
  /* height:100%; */

}


