@font-face {
    font-family: 'LemonMilk';
    src: url('LemonMilk.otf');
  }

.leftHeader{
    /* height:100%; */
    padding:50px;
}

.descContain {
    position: relative;
}

.desc {
    position: absolute;
    top: 50%;
    transform: translateY(50%);

    padding-left:15%; 
    padding-right:15%;
     /* margin-top: 50%; */
    font-family: 'Lato';
    font-size: 14pt;
}
.titleDesc {
    font-family: 'Lato';
    font-size: 12pt;
}

/* .app-page {
    background:white;
    padding: 10px
} */

.title {
    align-content: center;
    font-family: 'LemonMilk', Fallback, 'Lato';
    font-size: 26pt; 
    color: #70BEBE;
}

.content {
    background: #F5F5F5;

    margin-top:-5px;
}

.workThumb {
    background: rgb(216, 216, 216);
    border: 1px, black;
    height: 200px;
    margin-left: 25px;
    margin-top: 25px;
}

.navBar {
    background: white;

}

.navBar .ul {
    list-style-type: none;
    overflow: hidden;
    border-top:  2px solid #70BEBE;
    border-right:  2px solid #70BEBE;
    border-left:  2px solid #70BEBE;
    display: inline-block;
    margin:0;
    padding: 0px;
}

.navBar li {
    padding-left: 15px;
    padding-right: 15px; /* spacing between menu items */
    padding-top: 10px;
    padding-bottom: 10px;   
    float: left;
    font-family: 'Lato';
    font-size: 16pt;
}

.navBar li a {

    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.navBar li a:hover {
    background-color: #111;
    color: rgb(255, 255, 255);
}

.workMain {
    /* margin-left:100px; */
    padding-right: 25px;
    /* border-top:  2px solid #70BEBE; */
    padding-bottom: 25px;
}

.fadeDown {
    background: linear-gradient(to bottom, #454A4D, #656565);

}

.line {
    /* margin:auto; */
    /* margin-top: 10px; */
    /* margin-left:75px; */
    border-right: 2px solid #70BEBE;
    /* height: 30px; */
    /* width:2px; */
}

.workSidenavItem {
    /* padding-top: 5px; */
    padding-bottom:10px;
    margin-bottom: 0px;
}

.workSidenavcontaner a {
    /* padding: 20px; */
    color: white;
    /* padding-bottom: 20px;   */
    /* text-decoration: underline;
    text-decoration-color: #70BEBE; */
    text-decoration: none;
    border-bottom: 2px solid #70BEBE;
}


.thumbIcons {
    /* margin:20px; */
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;

}

@media(max-width:600px) {
    .workSidenavcontaner {
        /* display : none; */
        transition-property: margin-left, display;
        transition-duration: 1.5s;
        margin-left: -150px;

    }

    .line {
        border-right: none;
        border-bottom: 2px solid #70BEBE;
    }

}
@keyframes leave_left {
    0% {opacity: 0}
    99% {opacity: 1}
    100% {display : none;}

}