@font-face {
    font-family: 'LemonMilk';
    src: url('LemonMilk.otf');
  }


@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');


.leftHeader{
    /* height:100%; */
    padding:10%; 
}

.descContain {
    position: relative;
    padding:10%; 
}

.desc {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;

    position: relative;
    /* top: 50%; */

     /* margin-top: 50%; */
    font-size: 14pt;
}

.titleDesc {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;

    font-size: 12pt;
}

.tagBox a{
    padding:5px;
    border: 2px solid #656565;
}

.jobText{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 14pt;
}

.fullJobTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: #70BEBE;
    font-size: 16pt;

}

.app-page {
    margin-left: auto;  /* These two center the block */
    margin-right: auto;  /* These two center the block */
    background:white;
    max-width: 1000px;
    /* padding: 10px */
}

.title {
    align-content: center;
    font-family: 'LemonMilk', Fallback, 'Lato';
    font-size: 26pt; 
    color: #70BEBE;
}

.content {
    background: #F5F5F5;

    margin-top:-5px;
}

.workThumb {
    /* background: rgb(216, 216, 216); */
    border: 1px, black;
    height: 200px;
    margin-left: 25px;
    margin-top: 25px;
}

.navBar {
    padding-left: 10%;
    background: white;

}

.navBar .ul {
    list-style-type: none;
    overflow: hidden;
    border-top:  2px solid #70BEBE;
    border-right:  2px solid #70BEBE;
    border-left:  2px solid #70BEBE;
    display: inline-block;
    margin:0;
    padding: 0px;
}

.navBar li {
    padding-left: 15px;
    padding-right: 15px; /* spacing between menu items */
    padding-top: 10px;
    padding-bottom: 10px;   
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

.navBar li a {

    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.navBar li a:hover {
    background-color: #70BEBE;
    color: rgb(255, 255, 255);
}

.workMain {
    padding-right: 25px;
    /* border-top:  2px solid #70BEBE; */
    padding-bottom: 25px;
    
}

.fadeDown {
    background: linear-gradient(to bottom, #454A4D, #656565);

}

.line {
    /* margin:auto; */
    /* margin-top: 10px; */
    /* margin-left:75px; */
    border-right: 2px solid #70BEBE;
    /* height: 30px; */
    /* width:2px; */
}

.workSidenavItem {
    /* padding-top: 5px; */
    padding-bottom:10px;
    margin-bottom: 0px;
}

.workSidenavcontaner a {
    /* padding: 20px; */
    color: white;
    /* padding-bottom: 20px;   */
    /* text-decoration: underline;
    text-decoration-color: #70BEBE; */
    text-decoration: none;
    border-bottom: 2px solid #70BEBE;
}


.thumbIcons {
    /* margin:20px; */
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;

}

@media(max-width:650px) {

    .workSidenavcontaner {
        /* display : none; */
        transition-property: margin-left, display;
        transition-duration: 1.5s;
        margin-left: -150px;

    }

    .line {
        border-right: none;
        border-bottom: 2px solid #70BEBE;
    }

}
@keyframes leave_left {
    0% {opacity: 0}
    99% {opacity: 1}
    100% {display : none;}

}